*{
  font-family: Helvetica;
}

h1{
  font-family: Helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align:center;
  background-image: url("./resources/images/pattern.jpg");
}

h2{
  font-family: Helvetica;
  font-size: 32px;
  color: white;
  font-weight: bold;

}

#brushes{
  background-color: mediumspringgreen;
}

#frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

strong{
  color: blue;
}
